@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* עיצוב כרטיס הזמנה */
        .card {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 20px;
            padding: 10px;
            text-align: center;
            margin: 0 auto; /* הוסף את זה כדי למרכז את הכרטיס באופן אופטימלי */
            border: none; /* הוסף את זה כדי להסיר את המסגרת */
            border-radius: 0; /* גג זה כדי להסיר גבולות עגולים, ניתן לשנות לכל ערך שתרצה */
            background-color: #f5f5f5;
        }

        

        img {
            max-width: 100%;
            border-radius: 5px;
        }

        h2 {
            font-size: 1.5rem;
            margin: 10px 0;
        }

        p {
            font-size: 1rem;
            margin: 0;
        }

        button {
            background-color: #D9B9A0;
            color: #000;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            display: block; /* Change to block to make it take the full width */
            margin: 30px auto 0; /* Add 30px top margin, center horizontally */
        }

            button:hover {
                background-color: #fff;
            }

    </style>
</head>
<body>
    <h2 style="text-align:right; font-size: 50px;">:סיכום הזמנה</h2>

    <div class="card">
        <img src="/@Context.Request.Query["image"]" >
        <h2>@Context.Request.Query["name"]</h2>
        <p> :בחירת טעמים</p>
        <p1  style= "margin=5px;" id="selectedFlavorNamesDisplay">
            @foreach (var flavor in Context.Request.Query["flavors"])
            {
                <p>@flavor</p>
            }
        </p1>

        <span  data-bind="text: getValue()" style="background:#fff"> ₪ סה" כ: @Context.Request.Query["price"] </span>

    </div>


    <button class="button" onclick="location.href='@Url.Action("Index", "Orders", new { price = @Context.Request.Query["price"] })'">מעבר לתשלום</button>

</body>
</html>

<script>
    // קרא את הערך מה-Local Storage
    var selectedFlavorNamesDisplayValue = localStorage.getItem('selectedFlavorNamesDisplayValue');

    // הצג את הערך בדף
    document.getElementById("selectedFlavorNamesDisplay").textContent = selectedFlavorNamesDisplayValue;
</script>


